*{
    padding : 0 ;
    margin : 0;
    box-sizing: border-box;
}

.div-container{
    min-height: 100vh;
    width : calc(100vw - 2rem);
    margin-left : 0.25rem 0 0.25rem 0 ;
    border-radius : 1rem ;
    background-color: hsl(180, 10%, 94%);
    
}

.title{
    display: inline-block;
    margin-left: 1rem;
    padding : 0.5rem 1rem;
    border-radius : 0.2rem ;


}
.product-container{
    height : 90vh;
    margin: 5px 16px;
    background-color: rgb(245, 241, 241);
    border-radius : 0.5rem ;
    display: flex;
    flex-direction: row;
    gap : 0.5rem;
    
}

.image-container{
    height : 100%;
    width: 50%;
    border-radius: 0.5rem;
}

.image-container img{
    height : 100%;
    width : 100%;
    object-fit: cover;
}


.details-container{
    height: 100%;
    width:50%;
    background-color:  rgba(247, 241, 241, 0.938);
    border-radius: 0.5rem;
    padding : 1rem;
    font-family: Arial,  sans-serif;
    display: flex;
    flex-direction: column;
    gap : 8px;
    
}


.details-para{
    font-size: clamp(0.5rem ,2vw ,0.75rem);
    font-weight: bold;
    
}

#name{
    font-size: clamp(0.75rem, 4vw, 2.25rem);
    font-weight : bold;
}

.price-container{
    display:flex ;
    flex-direction: row;
    align-items: center;
    gap : 1rem;
    
    
    
}

.price-container button{
    padding :  0.25rem 0.5rem ;
    border-radius : 0.5rem;
    background-color: blue;
    border : none ;
    font-size: clamp(0.25rem, 2vw, 1rem);
}


.color-variation{
    width: 50%;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(0.25rem, 2vw, 1rem);
    
    
}

input[type="radio"]{
    display: none;
}

.color-variation label{
    display : inline-block ;
    padding : 0.5rem 1rem ;
    border-radius : 1rem;
    border : 1px solid black;
    cursor: pointer;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border : none ;
}

.color-variation input[type="radio"]:checked + label{
    transform: scale(1.2);
    border : 1px solid black;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
    color : white;
}

.blue{
    background-color : blue ;
    color : white;
}



.quantity-box{
    height : 50px ;
    width : 90%;
    border : 1px solid black ;
    border-radius: 8px;
    display : flex;
    justify-content: space-around;
    align-items: center;
}


.quantity-box span{
    font-size : 1.5rem;
}

.quantity-container p{
    font-size: clamp(0.5rem, 3vw, 1rem );
}

.quantity-box button{
    height : 40px;
    width : 40px;
    font-size: 3rem;
    border : none ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 241, 241, 0.938);
    cursor: pointer;
    all : unset;
    font-size: clamp(1rem , 4vw , 2rem);

    
    
}


.button-container{
    height : auto;
    width : 70% ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom : 1rem;
    
}

.button-container button{
    height : minmax(30px , 40px);
    width : 100%;
    border : 1px solid black ;
    font-size: clamp(0.5rem, 2vw, 2rem);
    border-radius : 0.5rem;
    cursor: pointer;
    font-weight: bold;
    
}

.cart-button:hover , .buy-button:hover{
    transform: scale(1.02);
}

@media screen and (max-width: 550px) {

    .div-container{
        width: 95vw ;      
        margin : 0.5rem;
        
    }

    .product-container {
            flex-direction: column;
            height: auto;
            gap: 1rem;
            
        }
    
    .image-container,
    .details-container {
        width: 100%;
        box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.1);

    }
    
    .image-container {
        height: 300px;
    }

    .color-variation{
        width : 80% ;
            
    }

    .button-container button{
        font-size: clamp(0.25rem , 1rem ,1.25rem);
    }
        
}
